

#team{
    text-align: center;
    color: cornsilk;
    font-size: 6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 4px;

}

.mayo{
    color:  #edd101
}

.ketchup{
    color:  #ce1c00
}